<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Show Developer Skill Details</title>
</head>
<body>
    <h1>Skill Details</h1>
    <h3>Skill: <%= skill.text %></h3>
    <p>Learned: <%= skill.learned ? 'Yes' : 'Not yet!' %></p>
    <form method="POST" action="/skills/<%= skill._id %>?_method=DELETE" class="delete-form">
        <button id="delete-button" class="action-button" type="submit">❌</button>
    </form>
    <a href="/skills/<%= skill._id %>/edit"><button id="edit-button" class="action-button">✏️</button></a>
    <h4><a href="/skills">Back to Skills</a></h4>
</body>
</html>