body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: blueviolet;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

form  {
  display: inline-block;
  margin-right: 30px;
}

.action-button {
  color: aliceblue;
  background-color: blueviolet;
  padding: 5px;
  border-radius: 10%;
}

.action-button:hover {
  background-color: darkblue;
  color: aliceblue;
}

#delete-button, #edit-button {
  background:none;
  border-radius: 100%;
}

#delete-button:hover, #edit-button:hover {
  background-color: burlywood;
}
